			.love {
				font-size: 55px;
				text-align: left;
			}

			.breadcrumb {
				font-size: 35px;
			}

			.giant {
				font-size:80px;
			}

			.blog {
				font-size: 55px;
			}

			.icons{
				font-size: 40px;
			}
			